<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>BasketBall</title>
<style>
body {
  background-image:url("BasketBall.jpg");
        background-repeat:no-repeat;
       background-size:cover;

} 



</style>

  </head>
  <body>
      <div class="container">
          <div class="row">
              <h1>BasketBall</h1>
          </div>
          <div class="row">
              <div class="col-8">
                  <div class="row">
                    <h2 >Todays blog who is the best ever in the NBA?</h2>
                      <h3 class="col-12">SportsBlog</h3>
                      <div th:each="store : ${stores}" class="col-4 card text-center m-1">
                          <div class="card-body">
                              
                              <a href="#" th:href="@{viewInventory(id=${store.id})}" class="card-link">About Us</a>                       
                              <a href="#" th:href="@{viewInventory(id=${store.id})}" class="card-link">View Blogs</a>

                             
  <a href="home.html"
class="card-link">Home Page
</a>
<a href="soccer.html"
class="card-link">Soccer
</a>
<a href="boxing.html"
class="card-link">Boxing
</a>


                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <h3>Login</h3>
                  <form action="addUser" method="POST" class="form">
                      <div class="form-group">
                          <label class="col-4" for="User">Username</label>
                          <input class="col-8 form-control" type="text" id="storeName" name="name"/>
                      </div>
                      <div class="form-group">
                          <label class="col-4" for="Password">Password</label>
                          <input class="col-8 form-control" type="text" id="storeLocation" name="location"/>
                      </div>
                      <div class="form-group">
                         
                      </div>
                      <button type="submit" class="btn btn-primary">Enter</button>
                  </form>
              </div>
          </div>
      </div>
    <!-- Optional JavaScript --> 
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>