<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Sports Blog</title>
<style>
body {
  background-image:url("boxing.jpg");
        background-repeat:no-repeat;
       background-size:cover;
} 



</style>

  </head>
  <body>
      <div class="container">
          <div class="row">
              <h1>Boxing</h1>
          </div>
          <div class="row">
              <div class="col-8">
                  <div class="row">
                    <h2 > Welcome to the Sports blog join the blog family</h2>
                      <h3 class="col-12">Boxing blogs</h3>
                      <div th:each="store : ${stores}" class="col-4 card text-center m-1">
                          <div class="card-body">
                              
                              <a href="#" th:href="@{viewInventory(id=${store.id})}" class="card-link">About Us</a>                       
                              <a href="#" th:href="@{viewInventory(id=${store.id})}" class="card-link">View Blogs</a>
                              


                              
  
  <a href="Basketball.html"
class="card-link">Basketball
</a>
<a href="home.html"
class="card-link">Home Page
</a>
  


                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <h3>Login</h3>
                  
              </div>
          </div>
      </div>
    <!-- Optional JavaScript --> 
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>